.Rproj.user
.Rhistory
*.RData
.Ruserdata
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/
/*_files/

# Ignore some files
open_q*.html
state*report.html
group*report.html
